{% extends 'base.html' %}

          {% block nav %}
 <li class="nav-item">
  <a class="nav-link" href="{% url 'webapp:review_create_view' product.pk %}">CreateReview</a>
</li>
          {% endblock %}



{% block content %}

    <img src="{{ product.image }}" alt="product picture">
    <h3>Product name: {{ product.name }}</h3>
    <p>category: {{ product.category }}</p>
    <p>description: {{ product.description }}</p>
    <h4>Reviews:</h4>
    {% for review in product.reviews.all %}
        <div>
           {{ review.author.name }}, {{ review.author.email }}, {{ review.text }}, {{ review.evaluation }}
         *** <a href="{% url 'webapp:review_update_view' review.pk %}">Update</a>
            | <a href="{% url 'webapp:review_delete_view' review.pk %}">Delete</a>
        </div>
    {% endfor %}

{% endblock content %}